*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font size is 16px so 62.5% is 10px */
  height: 100%;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 2200px) {
  html {
    font-size: 110%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 950px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem 5rem 0 5rem;
  min-height: 100%;
  background-color: #F6F6F6;
}