.catalogs {
    min-height: 100vh;
    position: relative;
}

.catalogs__title {
    margin-top: 2rem;
    font-weight: 100;
    color: #444f66;
}

.catalogs__subtitle {
    color: #fff;
    background-color: #444f66;
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.catalogs__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}