.catalogpage {
    min-height: 100vh;
    position: relative;
    color: #000;
}

.catalogpage__title {
    margin-top: 2rem;
    font-weight: 100;
    color: #444f66;
    display: block;
    text-align: center;
}

.react-pdf__Page__canvas {
    position: relative;
    margin: 1rem auto 4rem auto;
    width: 60rem !important;
    height: auto !important;
    z-index: 100;
}

.react-pdf__Document:hover ~ .catalogpage__pages {
    opacity: 100;
}

.catalogpage__pages {  
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 3px;
    padding: 1rem;
    width: 20rem;
    margin: -10rem auto;
    z-index: 999;
}

.catalogpage__pages:hover {
    opacity: 100;
}

.pages__prev {
    cursor: pointer;
}

.pages__next {
    cursor: pointer;
}

.catalogpage__download {
    width: 40rem;
    color: #fff;
    padding: 1rem 2rem;
    background-color: #444f66;
    margin: 20rem auto;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
}

.download__pdfimg {
    height: 3.5rem;
}

.download__btntxt {
    padding: 1.2rem 2rem;
}