.catalogitem {
    background-color: #fff;
    margin: 1rem;
    padding: 2rem;
    border-radius: 10px;
    text-decoration: none;
    width: 20rem;
    border: 1px solid #444f66;
}

.catalogitem__title {
    color: #444f66;
    text-align: center;
}

.catalogitem__img {
    width: 15rem;
    display: block;
    margin: 0 auto;
}