.footer {
 background-color: #444F66;
 margin-top: 3rem;
 margin-left: -5rem;
 width: 100vw;
 position: absolute;
 bottom: 0;
 left: 0;
 padding: 4rem;
 text-align: center;
 font-size: 1.4rem;
 color: #fff;
 
}

.footer__text {
    margin: .5rem;
    display: inline-block;
}

.footer__r {
    width: .5rem;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 .3rem 0 .1rem;
}