@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

.home__nav-menu {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  display: none;
}
@media only screen and (min-width: 600px) {
  .home__menu {
    display: none;
  }
}

.home__logo {
  width: 12rem;
  margin-top: -3rem;
}
.home__amishman {
  float: right;
  position: relative;
  width: 20rem;
  margin: -2rem 0 1rem 0;
  color: #444f66;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .home__amishman {
    position: absolute;
    top: 0%;
    left: calc(50% - 8rem);
  }
}
.amishman__image {
  height: 10rem;
  margin: 0 auto;
}
.amishman__number {
  width: 15rem;
  margin: 0 auto;
}
.amishman__dealers {
  font-size: 1.4rem;;
}

.home__nav {
  position: relative;
  z-index: 990;
  background-color: #d12f34;
  width: 100vw;
  margin: 2rem 0 0 -5rem;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .home__nav {
    height: 100vh;
    width: 0;
    margin: 0 -5rem 0 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    overflow-x: hidden;
    flex-direction: column;
    padding-top: 4rem;
  }
}

.home__nav span {
  float: left;
  /* padding: 1.5rem 2rem; */
  font-size: 1.4rem;
}
.home__nav span .nav__item{
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1.5rem 2rem;
}
@media only screen and (max-width: 600px) {
  .home__nav span .nav__item{
    text-align: left;
    padding: 4rem 4rem;
    height: 11rem;
    font-size: 3rem;
  }

  .first {
    height: 15rem;
  }
}

.home__nav span:hover {
  background-color: #fff;
  border-radius: 10px 10px 0 0 ;
  border: 1px #000 solid;
}
@media only screen and (max-width: 600px) {
  .home__nav span:hover {
    background-color: #d46165;
    color: #fff;
    border-style: none;
    font-size: 3rem;
    border-radius: 0;
  }
}

.home__nav span:hover .nav__item{
  color: #000;
  text-align: left;
  padding: 1.4rem 1.9rem;
}
@media only screen and (max-width: 600px) {
  .home__nav span:hover .nav__item{
    color: #fff;
    padding: 4rem 4rem;
    height: 11rem;
  }
}

.home__nav span:hover p{
  color: #000;
}

.home__nav span p {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.home__dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-left: 1px #000 solid;
  border-radius: 0 10px 10px 10px;
  text-align: left;
  margin-left: -.1rem;
}
@media only screen and (max-width: 750px) {
  .home__dropdown {
    margin-left: -.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .home__dropdown{
   position: relative;
   border-radius: 0;
   border-style: none;
  }
}

.home__dropdown a {
  color: #000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}
@media only screen and (max-width: 600px) {
  .home__dropdown a{
    color: #d12f34;
  }
}

.home__dropdown a:hover {background-color: #f1f1f1}
.home__dropdown a:nth-of-type(1):hover {border-radius: 0 10px 0 0;}
@media only screen and (max-width: 600px) {
  .home__dropdown a:nth-of-type(1):hover{
    border-radius: 0 0 0 0 ;
  }
}
.home__dropdown a:nth-of-type(17):hover {border-radius: 0 0 10px 0;}
@media only screen and (max-width: 600px) {
  .home__dropdown a:nth-of-type(17):hover{
    border-radius: 0;
  }
}

.dropdown:hover .home__dropdown {
  display: block;
}

.catalogsub {
  font-size: 1.2rem;
  margin-left: 3rem;
}
@media only screen and (max-width: 600px) {
  .catalogsub{
    font-size: 2.2rem;
  }
}
