.home {
}

.home__logo {
  width: 8rem;
  margin-top: -3rem;
}

.home__nav {
  background-color: #d12f34;
  width: 100vw;
  margin: 2rem 0 0 -5rem;
  display: flex;
  flex-direction: row;
}

.home__nav span {
  float: left;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

.home__nav span a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.home__nav span:hover {
  background-color: #fff;
  border-radius: 10px 10px 0 0 ;
  padding: 1.4rem 1.9rem;
  border: 1px #000 solid;
}

.home__nav span:hover a{
  color: #000;
  text-align: left;
}

.home__nav span:hover p{
  color: #000;
}

.home__nav span p {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.home__dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-left: 1px #000 solid;
  border-radius: 0 10px 10px 10px;
  margin: 1rem 0 0 -2rem;
  text-align: left;
}

.home__dropdown a {
  color: #000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.home__dropdown a:hover {background-color: #f1f1f1}
.home__dropdown a:nth-of-type(1):hover {border-radius: 0 10px 0 0;}
.home__dropdown a:nth-of-type(17):hover {border-radius: 0 0 10px 0;}

.dropdown:hover .home__dropdown {
  display: block;
}

.catalogsub {
  font-size: 1rem;
  margin-left: 3rem;
}

.home__banner {
  width: 100vw;
  margin-left: -5rem;
}

.home-wrapper {
  width: 100vw;
  background-color: #fff;
  margin-left: -5rem;
}

.home__hat-container {
  width: 100vw;
  max-width: 95rem;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hat {
  width: 12rem;
  margin: 1rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.hat:hover {
  transform: scale(1.1);
}

.showcase__title {
  color: #444f66;
  font-weight: 200;
  font-size: 1.8rem;
  margin-top: 3rem;
}

.home__showcase {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.showcase__product-list {
  width: 20rem;
  display: flex;
  flex-direction: column;
  color: #444f66;
  border-right: 1px solid #444f66;
}

.showcase__list-item {
  padding: 1rem 0.5rem 1rem 2rem;
  cursor: pointer;
}

.showcase__list-item:hover {
  background-color: #444f66;
  color: #fff;
}

.home__services {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__servicebox {
  background-color: #fff;
  color: #444f66;
  padding: 2rem;
  width: 20rem;
  height: 15rem;
  transition: all 0.2s;
}

.services__servicebox:hover {
  transform: scale(1.1);
  border-bottom: 5px solid #d12f34;
}

.servicebox__img {
  width: 5rem;
}

.servicebox__title {
  font-size: 1.5rem;
}

.interested__cont {
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #444f66;
}

.interested__title {
  font-size: 1.8rem;
  font-weight: 100;
}

.interested__info {
  margin-top: 0.75rem;
  font-size: 1rem;
}

.interested__contact {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.interested__number {
  margin-right: 0.5rem;
  cursor: pointer;
  color: #d12f34;
  font-size: 1.2rem;
}

.interested__or {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.interested__email {
  cursor: pointer;
  color: #d12f34;
  font-size: 1.2rem;
}

.home__aboutamish {
  margin-top: 5rem;
  background-color: #fff;
  padding: 2rem;
  color: #444f66;
}

.aboutamish__title {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.aboutamish__subtitle {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #444f66;
  color: #fff;
  width: 100%;
}

.aboutamish__para {
  margin: 2rem 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.aboutamish__banner {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.aboutamish__cta {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
