.productpage {
    min-height: 100vh;
    position: relative;
  }

.productpage__title {
  font-size: 2rem;
  font-weight: 100;
  color: #444f66;
  display: block;
  margin: 2rem auto;
  text-align: center;
}

.productpage__image-container {
  width: 40rem;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .productpage__image-container{
    width: 100%;
  }
}

.image-container__image {
  width: 40rem;
  margin: 1rem auto;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .image-container__image{
    width: 100%;
  }
}

.productpage__details {
  background-color: #fff;
  padding: 2rem;
  margin: 0 auto;
  width: 40rem;
}
@media only screen and (max-width: 600px) {
  .productpage__details{
    width: 100%;
  }
}

.details__title {
  font-size: 2rem;
  color: #444f66;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.details__detail {
  font-size: 1.4rem;
  font-weight: 100;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.productpage__info {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  width: 40rem;
}
@media only screen and (max-width: 600px) {
  .productpage__info {
    width: 100%;
  }
}

.productinfo__title {
  font-size: 2rem;
  font-weight: 600;
  color: #444f66;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.info__span {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.productinfo__sales {
  color: #fff;
  background-color: #d12f34;
  padding: .5rem 2rem;
  font-size: 1.6rem;
  width: 15rem;
  display: block;
  margin: 1rem auto;
  border-style: none;
  cursor: pointer;
}

.productpage__extrainfo {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  width: 40rem;
}
@media only screen and (max-width: 600px) {
  .productpage__extrainfo{
    width: 100%;
  }
}


.extrainfo__title {
  font-size: 2rem;
  font-weight: 600;
  color: #444f66;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.extrainfo__sub {
  font-size: 1.8rem;
  font-weight: 600;
  color: #444f66;
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.extrainfo__details {
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.extrainfo__note {
  font-size: 2.2rem;
  font-weight: 600;
  color: #444f66;
  display: block;
  margin: 1rem auto;
  text-align: center;
}
