.product {
    color: #444f66;
    text-align: center;
    margin: 3rem 1rem;
    padding: 3rem 1rem;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    width: 25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product__image-wrapper, .product__title a, .product__readmore-wrapper {
    text-decoration: none;
    color: #444f66;
}

.product__image {
    width: 20rem;
    display: block;
    margin: 0 auto;
}

.product__readmore {
    text-align: left;
    width: 20rem;
    margin: 0 auto;
    cursor: pointer;
}

.product__title {
    margin: 1rem 0;
    font-size: 1.4em;
    font-weight: 600;
}

.product__price {
    font-size: 1.2rem;
    font-weight: 600;
}

.product__interested {
    margin: .5rem 0 1rem 0;
    font-size: 1.2rem;
}

.product__sales {
    color: #fff;
    background-color: #d12f34;
    padding: .5rem 2rem;
    font-size: 1.4rem;
    width: 15rem;
    margin: 0 auto;
    border-style: none;
    cursor: pointer;
}