.whoweare {
    min-height: 100vh;
    position: relative;
}
.whoweare__body {
    width: 60rem;
    background-color: #fff;
    padding: 2rem;
    margin: 5rem auto;
    display: block;
    border: 1px solid #444f66;
}    
@media only screen and (max-width: 600px) {
    .whoweare__body {
        width: 100%;
    }
}
.body__title {
    font-size: 1.7rem;
    font-weight: 100;
    color: #444f66;
}
@media only screen and (max-width: 600px) {
    .body__title {
        font-size: 1.9rem;  
    }
}

.body__date {
    background-color: #444f66;
    display: block;
    padding: .5rem;
    margin: 1rem 0;
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
    .body__date {
        font-size: 1.6rem;
    }
}

.body__text {
    color: #444f66;
    line-height: 1.5rem;
    text-indent: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
@media only screen and (max-width: 600px) {
    .body__text {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.body__thanks {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #444f66;
    margin-top: 1rem;
    
}
@media only screen and (max-width: 600px) {
    .body__thanks {
     font-size: 1.6rem

    }
       
}