.video-container {
    position: fixed; /* Sit on top of the page content */
    /* display: none; */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68, 79, 102, .6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

}

.video-responsive {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    margin:0 auto;
    border: 10px solid #fff;
    border-radius: 10px;
  }
  
  .video-responsive iframe {
    width:100%;
    margin:0 auto;
  }
  @media only screen and (max-width: 600px) {
    .video-responsive iframe {
        height: 200px;
      }
  }
  .video-close {
      background-color: #000;
      color: #fff;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 600;
      border: 5px solid #fff;
      border-radius: 50%;
      padding: 1rem;
      width: calc(3rem + 10px);
      height: calc(3rem + 10px);
      position: absolute;
      top: -2rem;
      right: -2rem;
      cursor: pointer;
  }